<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
 
  <listeners>  
      <listener class-name="utils.SuiteListeners"/>
  </listeners>
  
  
 <test  name="Test">
 <parameter name="browsername" value="chrome"/>
    <classes>
      <class name="testjava.sampletest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
